.article-category-1 {
  background-color: #93909080;

  img {
    max-height: 220px;
    width: 100%;
  }

  a {
    transition: all 0.3s ease-in-out;

    &:hover {
      color: #4a90e2;
    }
  }
}

.article-category-2 {
  padding: 20px;
  display: block;
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  width: 50%;
  text-decoration: none;
  border-radius: 1rem;
  background-color: $light-gray;
  color: rgba(255, 246, 246, 255);
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.5);

  a {
    transition: all 0.3s ease-in-out;
    
    &:hover {
      color: #4a90e2;
    }
  }
}

.article-content {
  color: $color-white;

  a {
    color: #00a0ef;

    &:hover {
      color: #007bff;
    }
  }
}
