.bg-transparent {
    background-color: transparent;
  }
  
  .bg-black {
    background-color: #000000 !important;
  }
  
  .bg-gray {
    background-color: $gray !important;
  }
  
  .bg-blue-black {
    background-color: $color-blue-black;
  }
  
  .bg-light-gray {
    background-color: $light-gray;
  }
  
  .text-danger {
    color: $color-red !important;
  }
  