.pagination {
    padding: 0.5rem 0;
  
    .pager {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      
      :is(li, a) {
        width: 30px;
        height: 30px;
      }
  
      li a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: $gray;
        color: white;
      }
    }
  }
  